# General Ignores + IDE
.DS_Store
settings.xml
WEB-INF
.env
.engine
.vscode

# logs + tests
logs/**
tests/results/**
_test/**
tests/**

# npm
**/node_modules/*
npm-debug.log
yarn-error.log

## Ignored Dependencies
coldbox/*
testbox/*
modules/*
modules/**/apidocs/**

## Ignored Configurations
_dev/